{% extends 'base.html' %}

{% block content %}

<center><h1>Aplikasi Stok</h1></center>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <table class="table table-bordered table-striped">
              <thead>
                      <tr>
                          <th><h2>ITEM</h2></th>
                          <th><h2>JUMLAH</th></h2>
                          <th><h2>HARGA</th></h2>
                          <th><h2>DESKRIPSI</th></h2>
                      </tr>
                      <br>
                      <br>
                  <tbody>
                      {% for stock in stocks %}
                      
                      <tr>
                          <td><strong>{{ stock.title }}</strong></td>
                          <td>Jumlah: <h4><b>{{ stock.jumlah }}</h4></b></td> 
                          <td>Harga  <h4><b>{{ stock.harga }}</h4></b></td> 
                          <td><h4><b>{{ stock.description|truncatechars:29 }}
                            <a href="{% url 'detailstock' stock.pk %}" class="btn btn-primary">More</a>
                          </h4></b></td> 
                      </tr>
                      {% endfor %}   
                  </tbody>
              </thead>
          </table>
      </div>
  </div>
</div>

</div>

{% endblock %}